.logo {
  background-image: url('/images/logo/2B-FAMILY_quer_White.png');
  background-color: #4d3d32;
  /*   background-attachment: fixed; */
  background-repeat: no-repeat;
  /*     background-size: cover;
      -moz-background-size: cover; */
  background-position-x: 20px;
  background-position-y: center;
  overflow: hidden;
  min-width: 128px;
  height: 78px;
}
